body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px;
}

button {
  padding: 10px 20px;
  background: #444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #222;
}
